[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/thejan25004/api-gateway.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/thejan25004/config-server.git
[submodule "service-registry"]
	path = service-registry
	url = https://github.com/thejan25004/service-registry.git
